* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  
  width: 100%;
  min-height: 100vh;
}

.boxes{
  display: flex;
  margin: 5px;
  width: 100%;
  height: 25vh;
}

.box{
  background-color: darkorchid;
  width: 20%;
  margin: 5px;
  
}

.longbox-1{
  background-color: deeppink;
  width: 50%;
 
}

.boxes-1{
display: flex;
margin: 5px;
width: 100%;
height: 25vh;
align-items: right;
justify-content: right;
}

.longbox-2{
  background-color: lawngreen;
  width: 50%;
}
